@import url('https://fonts.google.com/specimen/Roboto');

$Tomato: hsl(4, 100%, 67%);
$Dark-Slate-Grey: hsl(234, 29%, 20%);
$Charcoal-Grey: hsl(235, 18%, 26%);
$Grey-dark: hsl(231, 7%, 60%);
$Grey: hsl(230, 7%, 82%);
$White: hsl(0, 0%, 100%);
$font-stack: 'Roboto', sans-serif;
$regular-weight: 400;
$bold-weight: 700;
$mobile: 375px;
$desktop: 1440px;