@use 'variables' as v;
@use 'main';
@use 'thanks';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: v.$font-stack;
  background-color: v.$Dark-Slate-Grey;
}